/*
 * Spark Variables...
 */
@import "vendor/laravel/spark/resources/assets/sass/variables";

/*
 * Bootstrap CSS...
 */
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Spark Styling...
 */
@import "vendor/laravel/spark/resources/assets/sass/spark";
